.ListPanel .content {
	overflow: auto;
}

.ListPanel .itemList .itemView {
	padding: 5px;
	margin: 0 3px;
	cursor: pointer;
	border: 2px solid #ffffff;
	position: relative;
}

.ListPanel .itemList .itemView:nth-child(odd) {
	background-color: #f0f0ff;
	border-color: #f0f0ff;
}

.ListPanel .itemList .itemView.hot {
	background-color: #e9e9ff;
	border-color: #e9e9ff;
}

.ListPanel .itemList .itemView.focused {
	border-color: #cde;
}

.ListPanel .itemList .itemView.focused:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0px;
	height: 100%;
	width: 10px;
	background: #cde;
}