.ListPanel .content {
	overflow-x: hidden;
	overflow-y: auto;
}

.ListPanel .listItem {
	padding: 5px 3px;
	cursor: pointer;
	position: relative;
}


.ListPanel .listItem:nth-child(2n) { background-color: #f1F1FF; }
.ListPanel .listItem:nth-child(2n+1) { background-color: #ffffff; }

.ListPanel .listItem.selected {
	background: #e9e9ff;
}