.Panel {
	position: absolute;
	border: 3px solid #a0a0a0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.Panel .spinner {
	position: absolute;
	top: 50px;
	left: 50px;
}

.Panel .panelLabel {
	border: 1px solid #888;
	padding: 0 3px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: #eee;
}