.Panel {
	position: absolute;
	border: 3px solid #a0a0a0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #fff;
	box-shadow: 7px 7px 11px #444;
	-moz-box-shadow: 7px 7px 11px #444;
	-webkit-box-shadow: 7px 7px 11px #444
}

.Panel .spinner {
	position: absolute;
	top: 50px;
	left: 50px;
}

.Panel .panelLabel {
	border: 2px solid #a0a0a0;
	padding: 4px;
	position: absolute;
	top: 10px;
	right: -22px;
	background: #eee;
	cursor: pointer;
	box-shadow: 7px 7px 11px #444;
	-moz-box-shadow: 7px 7px 11px #444;
	-webkit-box-shadow: 7px 7px 11px #444
}

.Panel .panelLabel {
	cursor: pointer;
	margin: 4px 0 0 15px;
	display: block;
}

.Panel .panelLabel .closeButton {
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: 0;
}

.Panel .panelLabel .labelText {
	margin-top: 13px;
}