.Panel {
	position: absolute;
	background: #fff;
	border: 2px solid #a0a0a0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.Panel .spinner {
	position: absolute;
	top: 50px;
	left: 50px;
}

.Panel .panelLabel {
	display: block;
	cursor: pointer;
	border: 2px solid #a0a0a0;
	border-left: 4px solid #fff;
	padding: 4px;
	position: absolute;
	top: 10px;
	right: -22px;
	background: #fff;
	border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
}

.Panel .panelLabel .closeButton {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 14px;
	height: 14px;
	background: transparent url(../../../img/close.png) repeat scroll 0 0;
}

.Panel .panelLabel .labelText {
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	margin-top: 13px;
	position: absolute;
	letter-spacing: 1px;
	white-space: nowrap;
}

.Panel.focused, .Panel.focused .panelLabel {
	box-shadow: 7px 7px 11px #444;
	-moz-box-shadow: 7px 7px 11px #444;
	-webkit-box-shadow: 7px 7px 11px #444
}


.Panel.minimized .content { display: none; }
