.AccountManager {
	text-align: center;
}

.AccountManager input {
	border: 1px solid #666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
	width: 300px;
	text-align: center;
}
.AccountManager input.defaultValue {
	font-style: italic;
	color: #333;
}
.AccountManager .email {
	margin-top: 0;
}
.AccountManager .password {
	margin: 3px 0 0 0;
}

.AccountManager .message {
	font-size: 13px;
	color: #883333;
	font-style: italic;
	width: 150px;
}

.AccountManager .message .innerMessage {
	margin-bottom: 7px;
}
