.Drawer {
	position: fixed;
	left: 0px;
}

.Drawer .labelList {
	position: absolute;
	border: 3px solid #a0a0a0;
	border-radius: 0 0 7px 0;
	-moz-border-radius: 0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;
	box-shadow: 7px 7px 11px #444;
	-moz-box-shadow: 7px 7px 11px #444;
	-webkit-box-shadow: 7px 7px 11px #444
}

.Drawer .labelList .label {
	cursor: pointer;
	margin: 4px 0 0 15px;
	display: block;
}

.Drawer .labelList .addLabelLink {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 0 5px 2px 5px;
	cursor: pointer;
	text-decoration: underline;
}

.Drawer .Panel {
	position: absolute;
	top: 0px;
	border-radius-topleft: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
}

.Drawer .Panel .panelLabel .labelText {
	right: -11px;
	top: 19px;
}
