.ItemFocus {
	position: absolute;
	z-index: 1;
}

.ItemFocus .piece {
	position: absolute;
	opacity: .7;
	border-color: #C3D9FF;
	border-style: solid;
}

.ItemFocus .left {
	border-width: 0 0 0 7px;
}

.ItemFocus .right {
	border-width: 0 7px 0 0;
	border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
}

.ItemFocus .top {
	border-width: 7px 0 0 0;
	border-radius: 7px 0 0 0;
	-moz-border-radius: 7px 0 0 0;
	-webkit-border-radius: 7px 0 0 0;
}

.ItemFocus .bottom {
	border-width: 0 0 7px 0;
	border-radius: 0 0 0 7px;
	-moz-border-radius: 0 0 0 7px;
	-webkit-border-radius: 0 0 0 7px;
}

.ItemFocus .bottom { -moz-box-shadow: 4px 7px 3px #444444; }
.ItemFocus .right { -moz-box-shadow: 3px 6px 3px #444444; }

.ItemFocus.onReferenceItemView .right:after {
	content: url(../../img/crystal/16/key_enter.png);
	width: 14px;
	height: 14px;
	position: absolute;
	top: 6px;
	right: 0px;
}
.ItemFocus.onValueItemView .right:after {
	content: url(../../img/crystal/16/edit.png);
	width: 14px;
	height: 14px;
	position: absolute;
	top: 0px;
	right: -13px;
}
