.Overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.Overlay .underlay {
	background-color: #333;
	opacity: .89;
	position: absolute;
	top: 0px;
	left: 0px;
}

.Overlay .content {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 8px solid #ddd;
	background-color: #ddd;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 7px 7px 9px #333;
	-moz-box-shadow: 7px 7px 9px #333;
	-webkit-box-shadow: 7px 7px 9px #333;
}