.Panel {
	border: 3px solid #a0a0a0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.Panel .panelLabel {
	display: table-cell; 
	vertical-align: middle;
	border: 1px solid #888;
	padding: 0 3px;
}